// Copyright (c) 2013 Cristian Patrasciuc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

template container Panel(MenuButtonTemplate)
{
  left 0.3
  top 0.0
  width 0.4
  height 0.1
  material MenuButton
}

template element TextArea(MenuButtonTextTemplate)
{
  font_name Monofur
  char_height 0.08
  colour 1 1 0
  left 0.01
  top 0.01
  width 0.4
  height 0.1
}

template element TextArea(MenuTitleTextTemplate) : MenuButtonTextTemplate
{
  top 0.05
  left 0.5
  alignment center
  colour 0 0 0
}