// Copyright (c) 2013 Cristian Patrasciuc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

TestMenu
{
  zorder 490
  container Panel(BackPanel)
  {
    left 0
    top 0.25
    width 1
    height 0.52
    material MenuBackground

    element TextArea(TitleText) : MenuTitleTextTemplate
    {
      caption Menu-Title
    }

    container Panel(MenuButton1) : MenuButtonTemplate
    {
      top 0.15
      element TextArea(Text1) : MenuButtonTextTemplate
      {
        caption Option1
      }
    }

    container Panel(MenuButton2) : MenuButtonTemplate
    {
      top 0.27
      element TextArea(Text2) : MenuButtonTextTemplate
      {
        caption Option2
      }
    }

    container Panel(MenuButton3) : MenuButtonTemplate
    {
      top 0.39
      element TextArea(Text3) : MenuButtonTextTemplate
      {
        caption Option3
      }
    }
  }
}